.AppWrap{
    border: solid 3px red;
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
}

.FormWrap{
    border: solid 3px green;
    display: flex;
}

.CatsDogsWrap{
    border: solid 3px violet;
    display: flex;
}