
.FormCats{
    width: 50%;
    border: solid 3px orange;
}

.FormDogs{
    width: 50%;
    border: solid 3px yellow;
}

.CatsList{
    width: 50%;
    border: solid 3px lightblue;
}

.DogsList{
    width: 50%;
    border: solid 3px blue;
}