.wrapPage{
    max-width: 100%;
    max-height: 100%;
    border: solid 3px red;
    display: flex;
}

.wrapCardUsers{
    width: 50%;
    border: solid 3px orange;
}

.cardUser{
    max-width: 100%;
    max-height: 100%;
    border: solid 3px yellow;
    margin: 10px;

}

.cardUserDetails{
    max-width: 100%;
    max-height: 100%;
    border: solid 3px green;
    margin: 10px;
}

css.listUsersPosts{
    max-width: 100%;
    max-height: 100%;
    border: solid 3px violet;
    margin: 10px;
}

button{
    margin-left: 10px;
}
